fastapi==0.109.0
uvicorn==0.27.0
httpx==0.26.0
python-dotenv==1.0.0
pydantic-settings==2.1.0
rich==13.7.0  # 색깔 디버깅용
sqlalchemy==2.0.46
aiomysql==0.3.2
pymysql==1.1.2
greenlet==3.2.4
pandas==3.0.0
langchain-openai==1.1.7
langchain-core==1.2.7
langgraph==1.0.7
newspaper3K==0.2.8
lxml_html_clean==0.4.3
thefuzz==0.22.1